.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 20vw;
    padding: 15px 0;
}

.avatar {
    width: 30%;
    border-radius: 50%;
    padding-bottom: 15px;
}

.name {
    font-size: 10px;
    font-weight: 700;
}

.name, .tag {
    padding-bottom: 5px;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.label {
    padding-bottom: 2px;
}